
@{
    ViewData["Title"] = "SesjaCiasteczka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>HALLLOOO</h1>
<div class="text-center">         
    <p>Message z sesji =@ViewData["Message"]</p>         
    <p>Ciasteczko krótkie =@ViewData["CiasteczkoKrotkie"]</p>       
    <p>Ciasteczko długie =@ViewData["CiasteczkoDlugie"]</p>     
</div>


